<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="width: 1200px; margin: 0 auto; background: #020617;">
    <div style=" ">
        @RenderBody()
    </div>
</body>
</html>
